REACT_APP_SUPABASE_URL=https://wcuozglfynltyafwivqj.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjdW96Z2xmeW5sdHlhZndpdnFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MzU0NTAsImV4cCI6MjA5MzQxMTQ1MH0.kSgbxJX9cb0vB7MioU2muZh3uuiR0HgnjwzTFmBHlsM
